.r-container{
    padding: 20px 0;
    align-items: center;
    width: 100%;
    height: 60%;
    background: #fff;
    position: relative;
}
.rcont{
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
}
.rcontainer .r-card{
    width: 80%;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 290px;
    background: #fff;
    padding: 20px;
    border-radius: 6px;
    box-shadow: 0px 10px 15px grey;
}
.rcontainer .r-card:hover{
    transform: scale(1.05);
    cursor: pointer;
}
.rcontainer .r-card img{
    height: 140px;
    width: auto;
    object-fit: contain;
    margin-bottom: 10px;
}
.rcontainer .r-name{
    font-weight: 600;
    margin: 16px 0;
    font-size: larger;
    color: rgb(10, 10, 138);
}
.r-price span{
    font-weight: 600;
    color: orange;
}
.r-price .price{
    color: gray;
    font-size: normal;
    padding-top: 15px;
}

.r-container .head .top{
    font-size: 20px;
    font-weight: 600;
    color: orange;
}

.r-container .head{
    padding: 20px;
}
.r-container .head .btm{
    font-size: 28px;
    font-weight: 600;
    margin: 5px 0;
    color: darkblue;   
}

.r-button {
    width: 100%;
    /* position: absolute; */
    z-index: 2;
    display: flex;
    margin-top: -12rem;
    padding: 0 10px;
    padding-bottom: 12rem;
    justify-content: space-between;
}

.r-button button{
    padding: 10px 14px;
    z-index: 2;
    border: none;
    background: rgb(27, 27, 221);
    color: white;
    font-size: 16px;
    cursor: pointer;
    outline: none;
    border-radius: 50%;
    transition: 0.4s;
}
.r-button button:hover{
    transform: scale(1.1);
}